!!! 5
html(xmlns:wb='http://open.weibo.com/wb')
  head
    include ../head
    title 二十一点·睡前故事
    style.
      #header{
        background: url(http://htmljs.b0.upaiyun.com/uploads/1420209087983-music-bg.jpg) no-repeat;
        background-size:cover;
        width:100%;
        height:50px;
        font-size:18px;
        color:#fff;
        line-height: 50px;
        padding-left:10px;
        text-align: center;
      }
  body#articles
    #header 二十一点 · 睡前故事
    #content.clearfix
      .content
          if musics && musics.length
            .articles
              each music,i in musics
                article(id="post-#{music.id}",class="#{i%2==0?'yooo':''}")
                  h2.entry-title
                    a.real-title(href='/article/#{music.id}', title='#{music.title}', rel='bookmark') 第#{music.index}期《#{music.title}》
                  .entry-foot
                    div.others
                      span.time.item
                        span.index
                          i.icon-eye-open
                        a.value #{music.visit_count}
                      span.time.item
                        span.index
                          i.icon-clock
                        a.value #{moment(music.createdAt).format("YYYY-MM-DD")}
                      if locals.user && user.is_admin
                        span.views.item
                          a.value(href="/music/#{music.id}/edit") 编辑

          else
            .articles 暂无
          include ../page
