!!! 5
html(xmlns:wb='http://open.weibo.com/wb')
  head
    link(rel="Shortcut Icon",href="http://htmljs.b0.upaiyun.com/css/music/story-icon.png")
    |<link rel="apple-touch-icon" href="http://htmljs.b0.upaiyun.com/css/music/story-icon.png" />
    link(rel="stylesheet",href="#{assets_head}/css/bootstrap.css?dddddddd",type="text/css")
    link(rel="stylesheet",href="#{assets_head}/css/music.css?zdzddddddddd92dd3dz",type="text/css")
    title 二十一点·睡前故事
    |<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    style.
      #header{
        background: url(http://htmljs.b0.upaiyun.com/uploads/1420209087983-music-bg.jpg) no-repeat;
        background-size:cover;
        width:100%;
        height:50px;
        font-size:18px;
        color:#fff;
        line-height: 50px;
        text-align: center;
        display: block;
      }
      .content{padding:10px;}
      #musics article{
        margin:10px 0px;
      }
      article img{width:100%;}
  body#musics
    a#header(href="/music") 二十一点 · 睡前故事
    #content.clearfix
      .content
          if musics && musics.length
            .articles
              each music,i in musics
                article(id="post-#{music.id}",class="")
                  h2.entry-title
                    a.real-title(href='/music/#{music.id}', title='#{music.title}', rel='bookmark') 第#{music.index}期 睡前故事《#{music.title}》
                  .entry-img
                    img(src="#{music.cover}")
                  .entry-foot
                    div.others
                      div.item.meta 十一 <time style="margin-left:10px;">#{moment(music.createdAt).format("YYYY-MM-DD")}</time> <span style="margin-left:10px;">#{music.visit_count}浏览</span>
                      if locals.user && user.is_admin
                        span.views.item
                          a.value(href="/music/#{music.id}/edit") 编辑

          else
            .articles 暂无
          include ../page
