doctype html
html
  head
    meta(charset='utf-8')
    link(rel="Shortcut Icon",href="http://htmljs.b0.upaiyun.com/uploads/1420299703794-icon.png")
    link(rel="stylesheet",href="#{assets_head}/css/bootstrap.css?dddddddd",type="text/css")
    link(href="#{assets_head}/css/music.css?1",rel="stylesheet",type="image/x-icon")
    title 二十一点·睡前故事 第#{music.index}期《#{music.title}》
    style.

    |<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  body#music-new
    img.backblur(src="#{music.cover}")
    .backcover
    #header
      .left
        a.home(href="/music/") 首页
        .share 分享
      if locals.next
        .right
            a.next(href="/music/#{next.id}") 上一期：#{next.title}
    #content
      article.am-article
        .time #{moment(music.createdAt).format("MM月DD日 dddd")}
        .title #{music.index}期 #{music.title}
        img.cover(src="#{music.cover}")
        .desc !{music.desc}
        .controls
          .play.playing
          .process
            .times.clearfix
              .left#left_time 00:00
              .right#right_time 00:00
            .line
              .line-inner(style="width:0%;")
        audio#audio.hidden(src="#{music.audio}")
        .other 二十一点 微信公众号，是由卓老师维护的一个面向各位小朋友和大朋友的深夜故事公众号。<br/><br/>卓老师每天晚上都会讲一个非常可爱的故事，然后录音发布在公众号上。<br/><br/>记住哦~每天晚上九点发布<br/>赶紧关注卓老师的公众号：二十一点<br/><br/>或者扫描二维码：<br/><img src="http://ww3.sinaimg.cn/bmiddle/6663ae3cgw1enwoooq45fj2076076dga.jpg"/><br/>如果您觉得卓老师讲的不错，欢迎多多分享给自己的朋友哦。谢谢啦~\(≧▽≦)/~
    script(src='#{assets_head}/js/jquery.js')
    script.
      var audio = document.getElementById("audio");
      var url = "#{music.audio}";
      audio.src = url;
      var isPlay = false;
      $(".play").on("click",function(){
        if(isPlay){
            audio.pause();
            isPlay = false;
            $(".play").removeClass("pause")
        }else{
            audio.play();
            isPlay = true;
            $(".play").addClass("pause")
        }

      })

      var timeString = function(time){
      time = parseInt(time)
         var minute = 0;
         var sec = 0;
         sec = time%60
         if(sec<10){
            sec="0"+sec;
         }
         minute = Math.floor(time/60)
         if(minute<10){
            minute="0"+minute;
         }
         return minute+":"+sec
      }
      var handler = function() {
          $("#left_time").html(timeString(this.currentTime))
          $("#right_time").html(timeString(this.duration.toFixed(0)))
          $(".line-inner").css({
            width:this.currentTime*100/this.duration+"%"
          })
      };
      audio.addEventListener('timeupdate', handler, false);
            audio.addEventListener('durationchange', function(){
            $("#right_time").html(timeString(this.duration.toFixed(0)))
            }, false);